.selector {
	background-color: #ef8c35;
	border-radius: 0.5rem !important;
	margin: 0 !important;
	cursor: pointer;
}

.the-body {
	display: flex;
	flex-direction: column;
	padding: 20px !important;
	height: 400px;
	width: 100%;
	overflow: auto;
}

.course-card-container {
	display: flex;
	justify-content: center !important;

	.body-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.card-body {
		background-color: #edc39b;
	}
}
