@media (max-width: 575.98px) {
	.programs-page-container {
		margin-bottom: 200px;

		.programs-card-container {
			border: none !important;
			background: none;
			margin-top: 0 !important;
		}
	}

	.grid-container {
		display: flex;
		justify-content: center;
		width: 100%;
	}

	.bold-text {
		font-weight: bold;
		text-decoration: underline;
		font-size: 24px;
	}

	.programs-card {
		background-color: #ef8c35;
		border-radius: 0;
		border: none;
	}

	.outer-card {
		border-bottom: 7px dotted white;
		margin-top: 10px;
		margin-bottom: 50px;
		width: 20%;
	}

	.outer-card-2 {
		border-right: 7px dotted white;
		border-top: 7px dotted white;
		margin-top: 10px;
		margin-right: 30px;
		width: 20%;
		width: 20%;
	}

	.bootcamp-header-card {
		background-color: #ef8c35 !important;
		border: none;
		margin-bottom: 20px;
	}

	.programs-text-card {
		background-color: none !important;
		color: #4d6a87;
		border-radius: none !important;
		border: none !important;

		.same-line {
			display: flex;
		}
	}
}

@media (min-width: 992px) {
	.programs-page-container {
		padding: 0 200px;
		margin-bottom: 200px;

		.programs-card-container {
			border: none !important;
			background: none;
		}
	}

	.grid-container {
		display: flex;
		justify-content: center;
		width: 100%;
	}

	.bold-text {
		font-weight: bold;
		text-decoration: underline;
		font-size: 24px;
	}

	.programs-card {
		background-color: #ef8c35;
		border-radius: 1rem;
		border: none;
	}

	.outer-card {
		border-bottom: 7px dotted white;
		margin-top: 10px;
		margin-bottom: 50px;
		width: 20%;
	}

	.outer-card-2 {
		border-right: 7px dotted white;
		border-top: 7px dotted white;
		margin-top: 10px;
		margin-right: 30px;
		width: 20%;
		width: 20%;
	}

	.bootcamp-header-card {
		background-color: #ef8c35 !important;
		border: none;
		margin-bottom: 20px;
	}

	.programs-text-card {
		background-color: #edc39b !important;
		color: #4d6a87;
		border-radius: 1rem !important;

		p {
			margin: 0;
		}

		.same-line {
			display: flex;
		}
	}
}
