.navbar {
	background-color: #063767 !important;

	.nav-link {
		color: white !important;
		display: inline;
	}
}

.nav-link:hover {
	border-bottom: 4px solid #fd8918;
}

.nav-link.active {
	border-bottom: 4px solid #fd8918;
}