.navbar {
	background-color: #063767 !important;

	.nav-link {
		color: white !important;
		display: inline;
	}
}

.dropdown {
	margin-right: 10px;
	margin-bottom: 5px;
}

.nav-link:hover {
	border-bottom: 2px solid #fd8918;
	padding-bottom: 3px;
}

.nav-link.active {
	border-bottom: 2px solid #fd8918;
}
