@media (max-width: 768px) {
	.program-and-involved {
		margin-left: 0 !important;
	}
	.community {
		margin-bottom: 30px !important;
	}
	.social-media {
		justify-content: flex-start !important;

		img {
			width: 30px !important;
			height: 30px !important;
			margin: 7px !important;
			cursor: pointer;
		}
	}
}

@media (max-width: 991px) {
	.footer-container {
		width: auto;
		background-color: #edc39b;
		padding: 40px;
		display: flex;
		flex-wrap: wrap;

		p {
			margin: 0;
			color: white;
		}

		.form-container {
			width: 450px;
		}

		.program-and-involved {
			margin-top: 35px;
			margin-right: 50px;
			margin-left: 50px;

			.programs {
				margin-bottom: 30px;
				width: 150px;
			}

			.get-involved {
				margin-bottom: 30px;
				width: 150px;
			}
		}

		.community {
			margin-top: 35px;
		}

		.social-media {
			display: flex;
			width: 100%;
			justify-content: flex-end;
			align-self: flex-end;
			margin-right: 100px;
		}

		img {
			width: 50px;
			height: 50px;
			margin: 10px;
			cursor: pointer;
		}

		.footer-header {
			font-weight: bold;
		}
	}
}

@media (min-width: 992px) {
	.footer-container {
		width: auto;
		background-color: #edc39b;
		padding: 40px;
		display: flex;
		flex-wrap: wrap;

		p {
			margin: 0;
			color: white;
		}

		.form-container {
			width: 450px;
		}

		.program-and-involved {
			margin-top: 35px;
			margin-right: 50px;
			margin-left: 50px;

			.programs {
				margin-bottom: 30px;
				width: 150px;
			}

			.get-involved {
				margin-bottom: 30px;
				width: 150px;
			}
		}

		.community {
			margin-top: 35px;
		}

		.social-media {
			display: flex;
			width: 100%;
			justify-content: flex-end;
			align-self: flex-end;
			margin-right: 100px;
		}

		img {
			width: 50px;
			height: 50px;
			margin: 10px;
			cursor: pointer;
		}

		.footer-header {
			font-weight: bold;
		}
	}
}
