.web-development-card-container {
	border-radius: 30px;
	background-color: #ef8c35 !important;
}

.data-course-title-card{
  background-color: #EF8c35 !important;
}
.apply-btn {
	background-color: #ef8c35 !important;
}

.apply-btn-flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.web-dev-card-header {
	background-color: #ef8c35 !important;
	height: 70px;
	color: white;
}

.web-course-card {
	border-radius: 30px;
}

.web-development-course-card {
	border-radius: 30px;
	background-color: #ef8c35 !important;
}

.web-development-text-card {
<<<<<<< HEAD
	border-radius: 30px;
	background-color: #edc39b !important;
=======
  border-radius: 30px;
  background-color: #EDC39B !important;
  filter: drop-shadow(5px 15px 4px #3a5065);
>>>>>>> master
}

.web-page-container {
	margin-left: 60px;
	margin-right: 60px;
	margin-bottom: 50px;
	padding: 0 15rem;
}

.web-text-card {
	color: #4d6a87;
}

.web-dev-course-card-text {
	color: #4d6a87;
}

.web-course-card {
<<<<<<< HEAD
	width: 300px;
	height: 300px;
=======
  width: 300px;
  height: 300px;
  filter: drop-shadow(5px 15px 4px #3a5065);
>>>>>>> master
}
