.names-container {
	display: flex;
	justify-content: space-between;
	.name {
		width: 220px;
	}
}

.footer-header {
	color: white;
	text-decoration: none;
}

.submit-div {
	display: flex;
	justify-content: flex-end;
	width: auto;
	button {
		background-color: white;
		width: 220px;
		color: black;
		border: none;
	}
}
