@media (max-width: 991px) {
	.desktop {
		display: none !important;
	}

	.alumni-card {
		position: relative;
		width: 100%;
		max-width: 400px;
		margin-bottom: 30px;
	}

	p {
		margin: 0 !important;
	}

	.alumni-card img {
		min-width: 100px;
		min-height: 100px;
	}

	.card-text {
		color: navy;
	}

	.overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		opacity: 0.2;
		transition: 0.3s ease;
		background-color: #ef8c35;
	}

	.linked-in-icon {
		width: 45px;
		height: 45px;
		color: #0e76a8;
	}

	.alumni-card:hover .overlay {
		opacity: 0.9;
	}

	.overlay-text {
		visibility: hidden;
	}

	.alumni-card:hover .overlay-text {
		visibility: visible;
		color: white;
		opacity: 1;
	}
}

@media (min-width: 992px) {
	.alumni-card {
		position: relative;
		width: 100%;
		max-width: 400px;
	}

	.mobile {
		display: none !important;
	}

	.alumni-card img {
		min-width: 100px;
		min-height: 100px;
	}

	.card-text {
		color: navy;
	}

	.overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		opacity: 0.2;
		transition: 0.3s ease;
		background-color: #ef8c35;
	}

	.linked-in-icon {
		width: 45px;
		height: 45px;
	}

	.linked-in-icon {
		color: white;
	}

	.linked-in-icon:hover {
		color: #0e76a8;
	}

	.alumni-card:hover .overlay {
		opacity: 0.9;
	}

	.overlay-text {
		visibility: hidden;
	}

	.alumni-card:hover .overlay-text {
		visibility: visible;
		color: white;
		opacity: 1;
	}
}
