.data-page-card-container {
  border-radius: 30px;
  background-color: #EF8c35 !important;
}

.apply-btn {
  background-color: #EF8c35 !important;
}

.apply-btn-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.data-page-card-header {
  background-color: #EF8c35 !important;
  height: 70px;
  color: white;
}

.data-page-course-card {
  border-radius: 30px;
}

.data-page-course-card {
  width: 300px;
  height: 300px;
  filter: drop-shadow(5px 15px 4px #3a5065);
}
 
.data-page-text-card {
  border-radius: 30px;
  background-color: #EDC39B !important;
  filter: drop-shadow(5px 15px 4px #3a5065);
}

.data-page-container {
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 50px;
}

.data-page-card {
  color: #4d6a87;
}

.data-page-course-card-text {
  color: #4d6a87;
}


