.loading-container {
	display: flex;
	width: 100%;
	justify-content: center;
	margin-top: 300px;
}

.admin-page-container {
	display: flex;

	.main-container {
		padding: 50px;
		width: 100%;

		.add-user-container {
			width: 100%;
			display: flex;
			justify-content: space-between;
			margin-bottom: 20px;

			Button {
				background-color: #ef8c35;
				border: none;
			}
		}

		.admin-card {
			background-color: #ef8c35;
		}

		.table {
			width: 100%;
		}
	}
}
