.event-card-container {
	display: flex;
	align-items: center;
	height: 275px;
	width: auto;
	border-radius: 1rem;
	border: 1px solid #4b7791;
	padding: 10px 20px;
	color: #4b7791;
	margin: 10px;

	.event-image {
		height: 250px;
		width: 250px;
		border-radius: 1rem;
	}

	.event-card-text {
		display: flex;
		flex-direction: column;
		margin-left: 20px;

		p {
			margin: 0;
		}
	}
}
