.program-card {
	min-width: 400px !important;
}
.card-button-div {
	display: flex;
}
.course-button {
	background-color: #ef8c35 !important;
	border: none !important;
	border-radius: 2rem !important;
	width: 150px !important;
	height: 50px !important;
	margin: 0 15px !important;
	box-shadow: 5px 3px 10px gray !important;
	padding-top: 12px !important;
}
