.fundly-widget {
  width: 277px;
  border: 1px solid #D4D4D4;
  border-radius: 3px;
  background:#fcfcfc;
  margin: 20px;
}

.fundly-frame {
  border: none;
  width: 275px;
  height: 510px
}

.p1 {
  text-align: right;
   margin: -6px 0 0 0;
    padding: 5px 10px; 
    border-top: 1px solid #eee;
    font: 16px
}

.campaign-link {
  color:#888;
  margin:0;
  text-decoration:none;
  float:left
}

.fundly-link {
  color:#888;
  margin: 0;
  text-decoration: none; 
}


.hero-pivot {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('https://images.unsplash.com/photo-1498409785966-ab341407de6e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1360&q=80');
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.donate-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;  
}